/* Sticky footer styles
-------------------------------------------------- */
html > body {
            /* Margin bottom by footer height */
            position: relative;
            min-height: 100vh;
            padding-bottom: 178px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            padding-top: 15px;
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 12px;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: auto;
            background-color: #222;
        }

        .fa-btn {
            margin-right: 7px;
        }

        .fa-btn-contact {
            margin-right: 5px;
        }

        .footer-heading {
            color: #fff;
        }

        ul.list-unstyled > li > a {
            color: #9D9D9D;
            text-decoration: none;
        }

        ul.list-unstyled > li > a:hover {
            color: #fff;
        }

        span.devider {
            color: #9D9D9D;
        }

        .margin-fix {
            margin-top: -10px;
        }

        /*hyperlinks footer */
        a.hyperlink-footer {
            color: #9D9D9D;
            text-decoration: none;
        }

        a.hyperlink-footer:hover {
            color: #fff;
        }
        /* end hyperlinks footer*/

        /* Divider footer */
        .footer-divider {
            color: #9D9D9D;
        }
        /* end divider footer */

        .info-text-footer {
            color: #9D9D9D;;
        }



.background {
  /* padding-top:75px; */
  background: #bdd732 url('../img/background.png') no-repeat fixed center 110px;
}
.font-heading {
  font-family: Allan, helvetica, arial, sans-serif;
  font-size: 22px;
}
.font-title {
  font-family: Allan, helvetica, arial, sans-serif;
  font-size: 18px;
}
.border {
  border: 1.2px solid #aac12b;
}
.Icon-color,
.Title-color {
  color: #bdd732;
}
.color-white {
  background-color: #ffffff;
  padding: 6px;
  border: 1.2px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.color-kapoenen {
  background-color: #ffff00;
}
.color-welpen {
  background-color: #228b22;
}
.color-jonggivers {
  background-color: #f5821f;
}
.color-givers {
  background-color: #256f91;
}
.color-jins {
  background-color: #ed1c23;
}
.color-leiding {
  background-color: #663399;
}
.thumbnail {
  position: relative;
  overflow: hidden;
}
.caption {
  position: absolute;
  top: -100%;
  right: 0;
  background: rgba(66, 139, 202, 0.75);
  width: 100%;
  height: 100%;
  padding: 2%;
  text-align: center;
  color: #ffffff !important;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
  top: 0%;
}
@font-face {
  font-family: 'Scouts-en-Gidsen-Vlaanderen';
  src:url('../fonts/Scouts-en-Gidsen-Vlaanderen.eot?96su6b');
  src:url('../fonts/Scouts-en-Gidsen-Vlaanderen.eot?#iefix96su6b') format('embedded-opentype'),
  url('../fonts/Scouts-en-Gidsen-Vlaanderen.woff?96su6b') format('woff'),
  url('../fonts/Scouts-en-Gidsen-Vlaanderen.ttf?96su6b') format('truetype'),
  url('../fonts/Scouts-en-Gidsen-Vlaanderen.svg?96su6b#Scouts-en-Gidsen-Vlaanderen') format('svg');
  font-weight: normal;
  font-style: normal;
}

.scouts {
  font-family: 'Scouts-en-Gidsen-Vlaanderen';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Internationaal */
.scouts-int-scouts:before {
  content: "\53";
}
.scouts-int-scouts-color:before {
  content: "\53";
  color: #5f1d7f;
}
.scouts-int-scouts-full:before {
  content: "\46";
}
.scouts-int-scouts-full-color:before {
  content: "\46";
  color: #5f1d7f;
}
.scouts-int-gidsen:before {
  content: "\47";
}
.scouts-int-gidsen-color:before {
  content: "\47";
  color: #0063a7;
}


/* Scouts en Gidsen Vlaanderen */
.scouts-scoutsgidsenvl:before {
  content: "\56";
}
.scouts-scoutsgidsenvl-color:before {
  content: "\56";
  color: #758e3a;
}
.scouts-zeescouting:before {
  content: "\5a";
}
.scouts-zeescouting-color:before {
  content: "\5a";
  color: #004878;
}



/* Groepen */
.scouts-kapoenen-zeehondjes:before {
  content: "\4f";
}
.scouts-kapoenen-zeehondjes-color:before {
  width: 75px;
  height: 75px;
  content: "\4f";
  color: #dcef07;
}
.scouts-zee-kabouters-welpen:before {
  content: "\4b";
}
.scouts-zee-kabouters-welpen-color:before {
  content: "\4b";
  color: #298e40;
}
.scouts-jonggidsen-jongverkenners-scheepsmakkers:before {
  content: "\4a";
}
.scouts-jonggidsen-jongverkenners-scheepsmakkers-color:before {
  content: "\4a";
  color: #fb8b05;
}
.scouts-zee-gidsen-verkenners:before {
  content: "\54";
}
.scouts-zee-gidsen-verkenners-color:before {
  content: "\54";
  color: #0d29d3;
}
.scouts-jins-loodsen:before {
  content: "\49";
}
.scouts-jins-loodsen-color:before {
  content: "\49";
  color: #b1031c;
}
.scouts-akabe:before {
  content: "\45";
}
.scouts-akabe-color:before {
  content: "\45";
  color: #bb4599;
}
.scouts-leiding:before {
  content: "\4c";
}
.scouts-leiding-color:before {
  content: "\4c";
  color: #730ccd;
}



/* Hopper */
.scouts-hopper-wnkl:before {
  content: "\48";
}
.scouts-hopper-wnkl-color:before {
  content: "\48";
  color: #b6121b;
}

.scouts-hopper-jgd:before {
  content: "\42";
}
.scouts-hopper-jgd-color:before {
  content: "\42";
  color: #727b34;
}
.scouts-hopper:before {
  content: "\52";
}
.scouts-hopper-color:before {
  content: "\52";
  color: #000000;
}
